* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'sf pro display';
    background-color: #f0f0f0;
  }
  .navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
  }
  .navbar .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
  .navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a:hover,
  .navbar a.active {
    background-color: #575757;
  }