    .container .container__title{
      margin: 50px 40px;
    }
    
    /* Card styles */
    .card-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
    }

    .card {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 300px;
      padding: 0;
      overflow: hidden;
      transition: transform 0.2s;
    }


    .card img {
      width: 100%;
      height: auto;
      border-radius: 8px 8px 0 0;
    }

    .card-content {
      padding: 20px;
    }

    .card-title {
      font-size: 24px;
      margin: 0;
      margin-bottom: 10px;
    }

    .card-price {
      font-size: 20px;
      color: #007bff;
      margin-bottom: 10px;
    }

    .card-description {
      font-size: 16px;
      color: #6c757d;
      margin-bottom: 20px;
    }

    .card-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .card-button:hover {
      background-color: #0056b3;
    }