<%- include("includes/header.ejs") %>
    </head>

    <body>

        <%- include("includes/navbar.ejs")%>

            <div class="container mt-5">
                <h1 class="center-align">404 Not Found</h1>
                <p class="center-align">Oops! The page you are looking for could not be found.</p>
                <p class="center-align">Please check the URL or go back to the <a href="/">homepage</a>.</p>
            </div>
            <%- include("includes/end.ejs")%>