<%- include("../includes/header.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/pageNotFound/pageNotFound.css">
</head>
<body>
  <%- include("../includes/navbar.ejs")%>
  <div class="text-center mt-5">
    <h4>404 Not Found</h4>
    <p>Oops! The page you are looking for could not be found.</p>
    <p>Return to <a href="/">homepage</a>.</p>
  </div>
    <%- include("../includes/end.ejs")%>

