{{{body}}}
<div class="main-container">
  <div class="form-container">
    <form action="/admin/add-product" method="post">
      <input type="text" name="product" placeholder="Enter your name" />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>