<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <a href="/">Shop</a>
        <a href="/admin/add-product">Add Product</a>
      </div>
    </div>

    <div class="main-container">
      <h1>404</h1>
      <p>Page Not Found</p>
      <a class="btn" href="/">Go to Home</a>
    </div>
  </body>
</html>
