<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/add-product.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <a href="/">Shop</a>
        <a href="/admin/add-product">Add Product</a>
      </div>
    </div>

    <div class="main-container">
      <h1>Add Product</h1>
      <form action="/admin/add-product" method="POST">
        <div class="form-group">
          <label for="productName">Product Name</label>
          <input type="text" id="productName" name="productName" required />
        </div>
        <div class="form-group">
          <label for="productPrice">Price</label>
          <input type="number" id="productPrice" name="productPrice" required />
        </div>
        <div class="form-group">
          <label for="productImage">URL</label>
          <input type="url" id="productImage" name="productImage" required />
        </div>
        <div class="form-group">
          <label for="productDescription">Description</label>
          <textarea
            id="productDescription"
            name="productDescription"
            rows="4"
            required
          ></textarea>
        </div>
        <button type="submit">Add Product</button>
      </form>
    </div>
  </body>
</html>
