<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Data Display</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/user">Register</a>
    </div>

    <div class="container">

        <!-- Display form data in a table -->
        <h2>User Data</h2>
        <div id="formData">
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Static data for demonstration purposes -->
                    <tr>
                        <td data-label="Name">John Doe</td>
                        <td data-label="Email">john.doe@example.com</td>
                        <td data-label="Message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>