/* Custom CSS for additional styling */
*{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.active{
  background-color:white;
  border:1px solid white;
}
.active>a, .active>a:hover{
  color:#343a40!important;
}